.card-project {
    width: 345px;
    height: 250px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    opacity: 0.8;
    transition: 0.3s;
}

.card-project:hover {
    opacity: 1;
    border: 1px solid #ffa62b;
    transform: scale(1.02);
}

.card-project:active {
    transform: scale(0.95) rotateZ(1.7deg);
}